services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    volumes:
      - /opt/stacks/config/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123/"]
      interval: 60s
      retries: 5
      start_period: 300s
      timeout: 2s
volumes:
  ha-config:          # wordt aangemaakt door Docker