services:

  homeassistant:
    image: linuxserver/homeassistant:latest
    container_name: homeassistant
    restart: unless-stopped
    ports:
      - 8123:8123
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - /opt/stacks/config/homeassistant:/config
    networks:
      - frontend
      - smart-home
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homeassistant.rule=Host(`hoass.02082004.xyz`)"
      - "traefik.http.routers.homeassistant.entrypoints=websecure"
      - "traefik.http.routers.homeassistant.tls=true"
      - "traefik.http.routers.homeassistant.tls.certresolver=letencrypt"
      - "traefik.http.services.homeassistant.loadbalancer.server.port=8123"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 500M



  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: ghcr.io/koenkk/zigbee2mqtt
    restart: unless-stopped
    volumes:
        - /opt/stacks/config/zigbee2mqtt:/app/data
        - /run/udev:/run/udev:ro
    networks:
      - smart-home
    ports:
        - 8084:8080
    environment:
        - TZ=Europe/Brussels
    devices:
        - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_1c2f4549bf45ed119fa5c68f0a86e0b4-if00-port0:/dev/ttyACM0


  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt
    ports:
      - "1883:1883" #default mqtt port
      - "9001:9001" #default mqtt port for websockets
    volumes:
      - /opt/stacks/mqtt/config:/mosquitto/config:rw
      -  /opt/stacks/mqtt/data:/mosquitto/data:rw
      -  /opt/stacks/mqtt/log:/mosquitto/log:rw
    networks:
      - smart-home
    restart: unless-stopped


networks:
  frontend:
    external: true
  smart-home: