services:

  homeassistant:
    image: linuxserver/homeassistant:latest
    container_name: homeassistant
    network_mode: host
    restart: unless-stopped    
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./data:/config
    labels:
      - "komodo.skip"
      - "traefik.enable=true"
      - "traefik.http.routers.komodo.rule=Host(`komodo.02082004.xyz`)"
      - "traefik.http.routers.komodo.entrypoints=websecure"
      - "traefik.http.routers.komodo.tls=true"
      - "traefik.http.routers.komodo.tls.certresolver=letencrypt"
      - "traefik.http.services.komodo.loadbalancer.server.port=9120"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 500M