services:
  database:
    image: mongo:6.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASS}
    volumes:
      - /opt/stacks/nightscout/db/:/data/db  # optioneel: sla data lokaal op

  nightscout:
    image: 'nightscout/cgm-remote-monitor-development:latest'
    environment:
      - API_SECRET=${API_SECRET}
      - 'MONGO_CONNECTION=mongodb://admin:${DB_PASS}@database/admin'
      - PORT=1337
    links:
      - database
    ports:
      - '1337:1337'