
services:
  database:
    image: mongo:4.4
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASS}
    volumes:
      - ./db:/data/db  # lokaal opslaan van data

  dexcom:
    image: nightscout/cgm-remote-monitor:latest
    restart: always
    environment:
      - API_SECRET=${API_SECRET}
      - BRIDGE_USER_NAME=${DEXCOM_EMAIL}
      - BRIDGE_PASSWORD=${DEXCOM_PASS}
      - BRIDGE_SERVER=EU
      - UNITS=mg/dl
      - ENABLE=careportal basal dbsize rawbg iob maker cob bwp cage iage sage boluscalc pushover treatmentnotify loop pump profile food openaps bage alexa override speech cors bridge
      - MONGO_CONNECTION=mongodb://admin:${DB_PASS}@database/admin
      - PORT=1337
      - INSECURE_USE_HTTP=true
    ports:
      - "1337:1337"
    depends_on:
      - database
#dwad