services:
  database:
    image: mongo:4.4
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASS}
    volumes:
      - /opt/stacks/nightscout/db/:/data/db  # optioneel: sla data lokaal op

  # nightscout:
  #   image: 'nightscout/cgm-remote-monitor-development:latest'
  #   environment:
  #     - API_SECRET=${API_SECRET}
  #     - 'MONGO_CONNECTION=mongodb://admin:${DB_PASS}@database/admin'
  #     - PORT=1337
  #   links:
  #     - database
  #   ports:
  #     - '1337:1337'

  dexcom:
    image: nightscout/cgm-remote-monitor:latest
    environment:
      - API_SECRET=${API_SECRET}
      - BRIDGE_USER_NAME=liamkelleher2006@gmail.com
      - BRIGE_PASSWORD=Liamwibo/123
      - BRIDGE_SERVER=EU
      - UNITS=mg/dl
      - ENABLE=careportal basal dbsize rawbg iob maker cob bwp cage iage sage boluscalc pushover treatmentnotify loop pump profile food openaps bage alexa override speech cors bridge
      - 'MONGO_CONNECTION=mongodb://admin:${DB_PASS}@database/admin'
      - PORT=1337