services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
    volumes:
      - /opt/stacks/config/jellyfin:/config
      - /opt/stacks/config/jellyfin/cache:/cache
      - type: bind
        source: /pool/data/media
        target: /data/media
    networks:
     - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.02082004.xyz`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.tls.certresolver=letencrypt"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
    restart: 'unless-stopped'

networks:
  frontend:
    external: true